/BasicLambdas.class
/Evaluate.class
/FI.class
/FI_from_API.class
/I.class
/LambdaEffectivelyFinal.class
/MethodReferenceTypes.class
/MethodRefsAndContext.class
/Person.class
/TestPredicate.class
/X.class
