/BuildStreams.class
/Car.class
/Cat.class
/CollectorsExamples.class
/CreatingStreams.class
/DeclarativeStyle.class
/Dog.class
/InfiniteStreamsGenerate.class
/InfiniteStreamsIterate.class
/Laziness.class
/Pipeline.class
/PipelineProcessingOrder.class
/ProcessFile.class
/TerminalOperations.class
/TerminalOperationsFindAnyFindFirst.class
