/Adult.class
/AdvancedEncapsulation.class
/BasicEncapsulation.class
/Cat.class
/ComplexEnums.class
/Cow.class
/Dog.class
/InstanceOfExample.class
/Person.class
/PersonExample.class
/Seniors.class
/SimpleEnums.class
/Tag.class
/Water.class
/WorkDay$1.class
/WorkDay.class
